In [34]:
!pip install billboard.py

Collecting billboard.py
  Downloading https://files.pythonhosted.org/packages/b0/1e/96602e9bf581c348f14156cc20cbf4b890f3672f2960e04c103734740a18/billboard.py-5.3.0-py2.py3-none-any.whl
Requirement already satisfied: beautifulsoup4>=4.4.1 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from billboard.py) (4.8.0)
Requirement already satisfied: requests>=2.2.1 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from billboard.py) (2.20.0)
Requirement already satisfied: soupsieve>=1.2 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from beautifulsoup4>=4.4.1->billboard.py) (1.9.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from requests>=2.2.1->billboard.py) (3.0.4)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from requests>=2.2.1->billboard.py) (2.7)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from requests>=2.2.1->billboard.py) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/iliasmiraoui/anaconda3/lib/python3.7/site-packages (from requests>=2.2.1->billboard.py) (2018.10.15)
Installing collected packages: billboard.py
Successfully installed billboard.py-5.3.0

In [83]:
import billboard
import pandas as pd
from random import randint
from time import sleep
import pickle

In [78]:
chart = billboard.ChartData('billboard-200')
df = pd.DataFrame(columns=["artist","title","isnew","rank","date"])

In [79]:
for count in range(1000):
    try:
        chart = billboard.ChartData('billboard-200', chart.previousDate)
        for i in range(200):
            song = chart[i]
            artist = song.artist
            title = song.title
            isnew= song.isNew
            rank = song.rank
            date = chart.date
            df.loc[len(df)] = [artist,title,isnew,rank,date]
        print(chart.previousDate)
    except:
        print("Error: trying again in a few...")
        sleep(randint(10,50))
        continue

2019-11-09
2019-11-02
2019-10-26
2019-10-19
2019-10-12
2019-10-05
2019-09-28
2019-09-21
2019-09-14
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2019-09-07
2019-08-31
2019-08-24
2019-08-17
2019-08-10
2019-08-03
2019-07-27
2019-07-20
2019-07-13
2019-07-06
2019-06-29
2019-06-22
Error: trying again in a few...
Error: trying again in a few...
2019-06-15
2019-06-08
2019-06-01
2019-05-25
2019-05-18
2019-05-11
2019-05-04
2019-04-27
2019-04-20
Error: trying again in a few...
Error: trying again in a few...
2019-04-13
2019-04-06
2019-03-30
2019-03-23
2019-03-16
2019-03-09
2019-03-02
2019-02-23
2019-02-16
2019-02-09
Error: trying again in a few...
Error: trying again in a few...
2019-02-02
2019-01-26
2019-01-19
2019-01-12
2019-01-05
2018-12-29
2018-12-22
2018-12-15
2018-12-08
2018-12-01
2018-11-24
2018-11-17
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2018-11-10
2018-11-03
2018-10-27
2018-10-20
2018-10-13
2018-10-06
2018-09-29
2018-09-22
2018-09-15
2018-09-08
2018-09-01
2018-08-25
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2018-08-18
2018-08-11
2018-08-04
2018-07-28
2018-07-21
2018-07-14
2018-07-07
2018-06-30
2018-06-23
2018-06-16
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2018-06-09
2018-06-02
2018-05-26
2018-05-19
2018-05-12
2018-05-05
2018-04-28
2018-04-21
2018-04-14
2018-04-07
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2018-03-31
2018-03-24
2018-03-17
2018-03-10
2018-03-03
2018-02-24
2018-02-17
2018-02-10
2018-02-03
2018-01-27
2018-01-20
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2018-01-13
2018-01-06
2018-01-03
2017-12-30
2017-12-23
2017-12-16
2017-12-09
2017-12-02
2017-11-25
2017-11-18
2017-11-11
Error: trying again in a few...
Error: trying again in a few...
2017-11-04
2017-10-28
2017-10-21
2017-10-14
2017-10-07
2017-09-30
2017-09-23
2017-09-16
2017-09-09
2017-09-02
Error: trying again in a few...
Error: trying again in a few...
2017-08-26
2017-08-19
2017-08-12
2017-08-05
2017-07-29
2017-07-22
2017-07-15
2017-07-08
2017-07-01
2017-06-24
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2017-06-17
2017-06-10
2017-06-03
2017-05-27
2017-05-20
2017-05-13
2017-05-06
2017-04-29
2017-04-22
2017-04-15
2017-04-08
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2017-04-01
2017-03-25
2017-03-18
2017-03-11
2017-03-04
2017-02-25
2017-02-18
2017-02-11
2017-02-04
2017-01-28
2017-01-21
2017-01-14
Error: trying again in a few...
Error: trying again in a few...
2017-01-07
2016-12-31
2016-12-24
2016-12-17
2016-12-10
2016-12-03
2016-11-26
2016-11-19
2016-11-12
2016-11-05
2016-10-29
2016-10-22
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2016-10-15
2016-10-08
2016-10-01
2016-09-24
2016-09-17
2016-09-10
2016-09-03
2016-08-27
2016-08-20
2016-08-13
2016-08-06
2016-07-30
2016-07-23
Error: trying again in a few...
Error: trying again in a few...
Error: trying again in a few...
2016-07-16
2016-07-09
2016-07-02
2016-06-25
2016-06-18
2016-06-11
2016-06-04
2016-05-28
2016-05-21
2016-05-14
2016-05-07
2016-04-30
Error: trying again in a few...
Error: trying again in a few...
2016-04-23
2016-04-16
2016-04-09
2016-04-02
2016-03-26
2016-03-19
2016-03-12
2016-03-05
2016-02-27
2016-02-20
2016-02-13
2016-02-06
Error: trying again in a few...
Error: trying again in a few...

KeyboardInterrupt:

In [84]:
with open('billboard-200_data.pkl', 'wb') as f:
    pickle.dump(df, f)
with open('billboard-200_chart.pkl', 'wb') as f:
    pickle.dump(chart, f)

In [81]:
with open('billboard-200_data.pkl', 'rb') as f:
        df = pickle.load(f)
with open('billboard-200_chart.pkl', 'rb') as f:
        chart = pickle.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'billboard-200_data.pkl'

In [75]:
df.groupby("date").count().sort_values("artist")

            artist  title  isnew  rank
date
2016-05-21     100    100    100   100
2017-07-08     100    100    100   100
2017-07-01     100    100    100   100
2017-06-24     100    100    100   100
2017-06-17     100    100    100   100
...            ...    ...    ...   ...
2016-11-05     100    100    100   100
2016-10-29     100    100    100   100
2016-10-22     100    100    100   100
2016-10-08     100    100    100   100
2017-12-16     100    100    100   100

[83 rows x 4 columns]

In [80]:
df

,artist,title,isnew,rank,date
0,Post Malone,Hollywood's Bleeding,False,1,2019-11-16
1,Kanye West,JESUS IS KING (Soundtrack),False,2,2019-11-16
2,YoungBoy Never Broke Again,AI YoungBoy 2,False,3,2019-11-16
3,Miranda Lambert,Wildcard,True,4,2019-11-16
4,Summer Walker,Over It,False,5,2019-11-16
...,...,...,...,...,...
39595,for KING & COUNTRY,RUN WILD. LIVE FREE. LOVE STRONG.,False,196,2016-02-13
39596,Disclosure,Caracal,False,197,2016-02-13
39597,Kidz Bop Kids,Kidz Bop 30,False,198,2016-02-13
39598,Metallica,...And Justice For All,False,199,2016-02-13
39599,Metallica,Master Of Puppets,False,200,2016-02-13